/* CSS for styling the list */
h2{
    padding: 5px 100px;
}
/* step-1 */
.step-1{
    padding: 15px 100px;
    border: 1px solid green;
    margin-left: 100px;
    margin-right: 100px;

}
.step-1 > ul {
    list-style-type: none; /* remove bullet points */
    margin: 0; /* remove default margin */
    padding: 0; /* remove default padding */
  }

.step-1 > ul >  li {
    background-color: #f2f2f2; /* set background color */
    padding: 10px; /* add padding */
    margin-bottom: 5px; /* add margin between items */
  }

  /* CSS for styling the text */
.step-1 >  h1 {
    text-align: center; /* center the heading */
    color: #333; /* set text color */
  }

.step-1 > ul >  li > p {
    font-size: 18px; /* increase font size */
    color: #555; /* set text color */
  }

/* step-2 */
.step-2{
    padding: 15px 100px;
    border: 1px solid green;
    margin-left: 100px;
    margin-right: 100px;
}
.step-2 > .container {
    display: flex; /* enable flex layout */
    flex-wrap: wrap; /* allow items to wrap to new lines */
    justify-content: space-between; /* distribute items evenly horizontally */
    align-items: center; /* align items vertically */
  }
.step-2 > .container > .item {
    width: 30%; /* set item width */
    margin: 10px; /* add margin */
    text-align: center; /* center text */
    padding: 20px; /* add padding */
    background-color: aquamarine;
  }
.step-2 >  h1 {
    text-align: center; /* center the heading */
    color: #333; /* set text color */
  }

.step-3{
    padding: 15px 100px;
    border: 1px solid green;
    margin-left: 100px;
    margin-right: 100px;
}
.step-3 > .container {
    display: flex; /* enable flex layout */
    flex-wrap: wrap; /* allow items to wrap to new lines */
    justify-content: space-between; /* distribute items evenly horizontally */
    align-items: center; /* align items vertically */
  }
.step-3 > .container > .item {
    width: 30%; /* set item width */
    margin: 10px; /* add margin */
    text-align: center; /* center text */
    padding: 20px; /* add padding */
    background-color: aquamarine;
}